.jelly-btn:hover,
.jelly-btn:focus,
.jelly-btn:active,
.jelly-btn:visited {
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  animation: jellyAnimation 0.5s 1;
}

@keyframes jellyAnimation {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
