.logo {
  transform: translateY(-65px);
}

.eye {
  width: 125px;
  height: 75px;
  border: solid 10px black;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background: white;
  box-shadow:
    2px 2px white,
    2px -2px white,
    -2px 2px white,
    -2px -2px white;
}

.eyeball {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.1s linear;
}

.eyeball::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 20%;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.eyelid {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 5;
  transform: translateY(-100%);
  transition: 1s;
  border-bottom-right-radius: 100px 25px;
  border-bottom-left-radius: 100px 25px;
}

.eye:hover .eyelid {
  transform: translateY(-50%);
  transition: 1s;
}
